{{ define "base"}}
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Forum</title>
        <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css" media="screen,projection" />
        <link type="text/css" rel="stylesheet" href="/static/css/style.css" media="screen,projection" />
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    </head>

    <body style="background-color: #dae0e6;">

        {{ template "navbar" .}}
        <main>
            <div class="container">
                {{ template "main" .}}
            </div>
        </main>

        {{ template "footer" .}}

        <script type="text/javascript" src="/static/js/materialize.js"></script>
        <script type="text/javascript" src="/static/js/scripts.js"></script>
    </body>

</html>

{{end}}


{{ define "navbar" }}
<div class="navbar">
    <nav class="light-blue darken-4">
        <div class="container">
            <div class="nav-wrapper light-blue darken-4">
                <a href="/" class="brand-logo">FORUM</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger right"><i
                        class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    {{ if eq .IsSession false}}
                    <li><a href="/signup"><i class="material-icons left">group_add</i>signup</a></li>
                    <li><a href="/signin"><i class="material-icons left">login</i>signin</a></li>
                    {{ else }}
                    <li><a href="/createpost"><i class="material-icons left">border_color</i>Create Post</a></li>
                    <li><a href="/profile?id={{.User.ID}}"><i class="material-icons left">account_circle</i>profile</a>
                    </li>
                    <li><a href="/logout"><i class="material-icons left">logout</i>logout</a></li>
                    {{end}}
                </ul>
                <ul class="sidenav" id="mobile-demo">
                    {{ if eq .IsSession false}}
                    <li><a href="/signup"><i class="material-icons left">group_add</i>signup</a></li>
                    <li><a href="/signin"><i class="material-icons left">login</i>signin</a></li>
                    {{ else }}
                    <li><a href="/createpost"><i class="material-icons left">border_color</i>Create Post</a></li>
                    <li><a href="/profile?id={{.User.ID}}"><i class="material-icons left">account_circle</i>profile</a>
                    </li>
                    <li><a href="/logout"><i class="material-icons left">logout</i>logout</a></li>
                    {{end}}
                </ul>
            </div>
        </div>
    </nav>
</div>

{{ end }}

{{define "footer"}}
<style>
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
</style>
<footer class="page-footer light-blue darken-4">
    <div class="container">
        <div class="row">
            <p class="grey-text text-lighten-4">This project consists in creating a web forum that allows communication
                between users, associating categories to posts, liking and disliking posts and comments, filtering
                posts.</p>
        </div>
    </div>
    <div class="footer-copyright light-blue darken-4">
        <div class="container">
            2022 created by Shalqarov
        </div>
    </div>
</footer>
{{end}}