{{ define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Forum</title>
</head>

<body>
    
    {{ template "navbar" .}}
    <main>
        {{ template "main" .}}
    </main>
</body>

</html>

{{end}}


{{ define "navbar" }}
<nav>
    {{ if eq .IsSession false}}
        <a href="/signup">signup</a>
        <a href="/signin">signin</a>
    {{ else }}
        <a href="/welcome">cookie test</a>
        <a href="/profile">profile</a>
        <a href="/logout">logout</a>
        <a href="/createpost">create post</a>
    {{end}}
</nav>

{{ end }}