{{template "base" . }}


{{define "main"}}
{{ if .Posts }}
{{range .Posts}}
<div style="margin-top: 20px;" class="row">
    <div class="col s8 offset-s2">
        <div class="card hoverable ">
            <div style="cursor: pointer;" onclick="location.href='/post?id={{.ID}}';" class="card-content">
                <span class="card-title">{{.Title}}</span>
                <label for="category">Category: </label>
                <a id="category" href="/category?category={{.Category}}">{{.Category}}</a>
            </div>
        </div>
    </div>
</div>
{{end}}
{{ else }}
<div style="margin-top: 20px;" class="row">
    <div class="col s6 offset-s3">
        <h5 class="center-align"><i class="material-icons large">grid_off</i></h5>
        <h5 class="center-align">No Posts Yet</h5>
    </div>
</div>
{{end}}
{{end}}