{{template "base" . }}

{{define "main"}}
<form action="/signin" method="POST">
    <div class="row ">
        <div class="col s6 offset-s3">
            <div class="card ">
                <div class="card-content">
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="material-icons prefix">email</i>
                            <input name="email" id="email" type="email" class="validate">
                            <label for="email">Email</label>
                            {{ if ne .Error ""}}
                            <span class="helper-text" data-error="username or password is incorrect" data-success="right">{{.Error}}</span>
                            {{ end }}
                            <span class="helper-text" data-error="incorrect email address" data-success="right"></span>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">password</i>
                            <input name="password" id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="card-action">
                        <button class="btn waves-effect waves-light" type="submit">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{{end}}