<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum - sign in</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/materialize.min.css"  media="screen,projection"/>
</head>

<body>
    <form action="/signin" method="POST">
        email or login: <input type="text" name="email" placeholder="email or login..." required> <br><br> password: <input type="password" name="password" required> <br><br>
        {{if .Error}}
        <p>username or password is incorrect</p>
        {{end}}

        <button type="submit">press</button>
    </form>


    <script type="text/javascript" src="/static/js/materialize.js"></script>
</body>

</html>