{{template "base" . }}


{{define "main"}}
<div style="margin-top: 20px;" class="row z-depth-1">
    <div class="col s12 grey lighten-3">
        <h3  style="word-wrap:break-word;">{{.Post.Title}}</h3>
        <img class="materialboxed responsive-img" src="{{.Post.Image}}" alt="">
        <p class="flow-text"  style="word-wrap:break-word;">{{.Post.Content}}</p>
        <div class="divider"></div>
        <span>Created by: </span>
        <div class="chip">
            <img src="{{.Post.UserAvatar}}"
                alt="">
                <a href="/profile?id={{.Post.UserID}}">{{.Post.Author}}</a>
        </div>
        <form action="/filter/category?category={{.Post.Category}}" method="POST">
            <span>Category: </span>
            <button  style="text-transform: none;" id="category" type="submit" class="btn-flat blue-text">
                    {{.Post.Category}}
            </button>
        </form>
        {{ if .IsSession }}
        {{ if eq .Post.UserID .User.ID }}
        <a href="#modal2" class="modal-trigger btn waves-effect light-blue darken-4">Edit Post</a>
        <div id="modal2" class="modal">
            <div class="modal-content">
                <form action="/post/edit?id={{ .Post.ID }}" enctype="multipart/form-data" method="POST">
                    <div class="input-field col s12">
                        <i class="material-icons prefix">title</i>
                        <input name="title" id="title" type="text" maxlength="255" required value="{{ .Post.Title }}">
                        <label for="title">Title</label>
                        <span class="helper-text">maximum characters: 255</span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">create</i>
                        <textarea maxlength="2000" name="content" id="content" class="materialize-textarea" required>{{ .Post.Content }}</textarea>
                        <label for="content">content</label>
                        <span class="helper-text">maximum characters: 2000</span>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">format_list_bulleted</i>
                        <select name="category">
                            <option value="Offtop" selected>Choose category</option>
                            <option value="alem">alem</option>
                            <option value="Study">Study</option>
                            <option value="Teamalem">Teamalem</option>
                            <option value="Linkedin">Linkedin</option>
                            <option value="Offtop">Offtop</option>
                        </select>
                        <label>Category select</label>
                    </div>
                    <div class="input-field col s12">
                        <input type="file" name="myFile" value="{{ .Post.Image }}"/>
                    </div>
                    <div class="input-field col s12">
                        <button class="btn waves-effect waves-light light-blue darken-4"
                            type="submit">Create</button>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="modal-close waves-effect waves-green"><i class="material-icons">close</i></a>
            </div>
        </div>
        {{ end }}
        {{ end }}
        <div class="row">
            <div class="col">
                <form action="/post/vote?id={{.Post.ID }}&vote=1" method="POST">
                    <button class="waves-effect waves-teal btn-flat" id="like" type="submit"><i
                            class="material-icons small">thumb_up</i></button>
                    
                </form>
                <label  for="like"><p class="center-align">{{ .Post.Votes.Like }}</p></label>
            </div>
            <div class="col">
                <form action="/post/vote?id={{.Post.ID }}&vote=-1" method="POST">
                    <button class="waves-effect waves-red btn-flat" id="dislike" type="submit"><i
                            class="material-icons small">thumb_down</i></button>
                </form>
                <label  for="dislike"><p class="center-align">{{ .Post.Votes.Dislike }}</p></label>
            </div>
        </div>
        <div class="row">
            <form method="POST" action="/post/createcomment?id={{.Post.ID}}" class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea name="comment" id="textareaComment" class="materialize-textarea" maxlength="255"
                            required></textarea>
                        <span class="helper-text">maximum characters: 255</span>
                        <label for="textareaComment">Comment</label>
                        <button type="submit" class="btn waves-effect waves-light light-blue darken-4">Create comment</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>

<div class="row">
    <div class="col col s12">
        <h5>Comments:</h5>
    </div>
</div>
{{ range .Comments }}
<div class="row z-depth-1" >
    <div class="col col s12 grey lighten-3">
        <div class="chip">
            <img src="{{.UserAvatar}}"
                alt="">
                <a href="/profile?id={{.UserID}}">{{.Author}}</a>
        </div>
        
        <label for="date">{{.Date}}</label>
        <div style="word-wrap:break-word;">
            <p>{{.Content}}</p>
        </div>
        <div class="row">
            <div class="col">
                <form action="/post/votecomment?id={{.PostID }}&vote=1&comm={{.ID}}" method="POST">
                    <button class="waves-effect waves-teal btn-flat" id="like" type="submit"><i
                            class="material-icons small">thumb_up</i></button>
                    
                </form>
                <label  for="like"><p class="center-align">{{ .Votes.Like }}</p></label>
            </div>
            <div class="col">
                <form action="/post/votecomment?id={{.PostID }}&vote=-1&comm={{.ID}}" method="POST">
                    <button class="waves-effect waves-red btn-flat" id="dislike" type="submit"><i
                            class="material-icons small">thumb_down</i></button>
                </form>
                <label  for="dislike"><p class="center-align">{{ .Votes.Dislike }}</p></label>
            </div>
        </div>
    </div>
</div>
{{end}}

<script>
    
</script>
{{end}}